USE [master]
GO
/****** Object:  Database [WorkData]    Script Date: 2017/2/7 11:40:14 ******/
CREATE DATABASE [WorkData] ON  PRIMARY 
( NAME = N'WorkData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WorkData.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WorkData_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkData]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EF_CATEGORY]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODEL_ID] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[STATUS] [bit] NOT NULL CONSTRAINT [DF__EF_CATEGO__STATU__625A9A57]  DEFAULT ((0)),
	[PARENT_ID] [int] NULL,
	[LAYER] [int] NOT NULL CONSTRAINT [DF__EF_CATEGO__LAYER__634EBE90]  DEFAULT ((0)),
	[HAS_LEVEL] [bit] NOT NULL CONSTRAINT [DF__EF_CATEGO__HAS_L__6442E2C9]  DEFAULT ((0)),
	[SORT] [int] NOT NULL CONSTRAINT [DF__EF_CATEGOR__SORT__65370702]  DEFAULT ((0)),
	[CODE] [nvarchar](50) NOT NULL DEFAULT (''),
	[FORM_TEMPLATE] [nvarchar](max) NULL,
	[LIST_TEMPLATE] [nvarchar](max) NULL,
	[FORM_JSON] [nvarchar](max) NULL,
	[LIST_JSON] [nvarchar](max) NULL,
	[LIST_HEAD] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EF_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT](
	[CONTENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODEL_ID] [int] NULL,
	[CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT] PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_DESCRIPTION_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_DESCRIPTION_FIELD](
	[CONTENT_DESCRIPTION_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_DESCRIPTION_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_DESCRIPTION_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_DOUBLE_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_DOUBLE_FIELD](
	[CONTENT_DOUBLE_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [float] NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_DOUBLE_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_DOUBLE_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_INT_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_INT_FIELD](
	[CONTENT_INT_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [int] NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_INT_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_INT_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_STRING_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_STRING_FIELD](
	[CONTENT_STRING_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_STRING_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_STRING_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_TEXT_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_TEXT_FIELD](
	[CONTENT_TEXT_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_TEXT_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_TEXT_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_CONTENT_TIME_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_CONTENT_TIME_FIELD](
	[CONTENT_TIME_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NULL,
	[FIELD_CODE] [nvarchar](50) NULL,
	[FIELD_VALUE] [datetime] NULL,
 CONSTRAINT [PK_dbo.EF_CONTENT_TIME_FIELD] PRIMARY KEY CLUSTERED 
(
	[CONTENT_TIME_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_MODEL]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_MODEL](
	[MODEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.EF_MODEL] PRIMARY KEY CLUSTERED 
(
	[MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_MODEL_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_MODEL_FIELD](
	[MODEL_FIELD_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[CONTROL_TYPE] [nvarchar](50) NOT NULL,
	[DEFAULT_VALUE] [nvarchar](50) NULL,
	[VALID_TIP_MSG] [nvarchar](200) NULL,
	[VALID_PATTERN] [nvarchar](500) NULL,
	[VALID_ERROR_MSG] [nvarchar](200) NULL,
	[IS_SYSTEM_FIELD] [bit] NULL,
	[ITEM_OPTION] [nvarchar](500) NULL,
	[HTML_TEMPLATE] [nvarchar](500) NULL,
	[FIELD_TYPE] [int] NOT NULL DEFAULT ((0)),
	[STATUS] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.EF_MODEL_FIELD] PRIMARY KEY CLUSTERED 
(
	[MODEL_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_MODEL_MODEL_FIELD]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_MODEL_MODEL_FIELD](
	[MODEL_ID] [int] NOT NULL,
	[MODEL_FIELD_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_MODEL_MODEL_FIELD] PRIMARY KEY CLUSTERED 
(
	[MODEL_ID] ASC,
	[MODEL_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_OPERATION]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_OPERATION](
	[OPERATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CLASS] [nvarchar](100) NULL,
	[ID] [nvarchar](50) NULL,
	[ON_CLICK] [nvarchar](150) NULL,
	[STYLE] [nvarchar](150) NULL,
	[OPERATION_CATEGORY] [int] NULL,
 CONSTRAINT [PK_dbo.EF_OPERATION] PRIMARY KEY CLUSTERED 
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_OPERATION_RESOURCE]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_OPERATION_RESOURCE](
	[RESOURCE_ID] [int] NOT NULL,
	[OPERATION_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_OPERATION_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_ID] ASC,
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_RESOURCE]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_RESOURCE](
	[RESOURCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [int] NULL,
	[RESOURCE_NAME] [nvarchar](50) NOT NULL,
	[RESOURCE_URL] [nvarchar](200) NULL,
	[LAYER] [int] NOT NULL,
	[IS_LOCK] [bit] NOT NULL,
	[RESOURCE_IMG] [nvarchar](200) NULL,
	[SORT] [int] NOT NULL,
	[HAS_LEVEL] [bit] NOT NULL,
	[CODE] [nvarchar](50) NOT NULL DEFAULT (''),
	[CONTROLLER_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.EF_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_ROLE]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[CODE] [nvarchar](50) NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EF_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_ROLE_RESOURCE]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_ROLE_RESOURCE](
	[ROLE_ID] [int] NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_ROLE_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_USER]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](250) NOT NULL,
	[IS_LOCK] [bit] NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[CELL_PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[Qq] [nvarchar](50) NULL,
	[WEICHAT_NUMBER] [nvarchar](max) NULL,
	[ADD_TIME] [datetime] NULL,
	[SALT] [nvarchar](5) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.EF_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EF_USER_ROLE]    Script Date: 2017/2/7 11:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EF_USER_ROLE](
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EF_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EF_CATEGORY] ON 

INSERT [dbo].[EF_CATEGORY] ([CATEGORY_ID], [MODEL_ID], [NAME], [STATUS], [PARENT_ID], [LAYER], [HAS_LEVEL], [SORT], [CODE], [FORM_TEMPLATE], [LIST_TEMPLATE], [FORM_JSON], [LIST_JSON], [LIST_HEAD]) VALUES (51, NULL, N'新闻资讯', 1, 15, 0, 1, 1, N'xinwenzixun', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[EF_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[EF_MODEL] ON 

INSERT [dbo].[EF_MODEL] ([MODEL_ID], [NAME], [CODE], [STATUS], [DESCRIPTION]) VALUES (3, N'新闻资讯', N'News', 1, N'新闻内容')
INSERT [dbo].[EF_MODEL] ([MODEL_ID], [NAME], [CODE], [STATUS], [DESCRIPTION]) VALUES (5, N'测试模型', N'ceshi', 1, N'测试模型')
SET IDENTITY_INSERT [dbo].[EF_MODEL] OFF
SET IDENTITY_INSERT [dbo].[EF_MODEL_FIELD] ON 

INSERT [dbo].[EF_MODEL_FIELD] ([MODEL_FIELD_ID], [NAME], [CODE], [CONTROL_TYPE], [DEFAULT_VALUE], [VALID_TIP_MSG], [VALID_PATTERN], [VALID_ERROR_MSG], [IS_SYSTEM_FIELD], [ITEM_OPTION], [HTML_TEMPLATE], [FIELD_TYPE], [STATUS]) VALUES (15, N'标题', N'Title', N'single-text', NULL, NULL, NULL, NULL, NULL, NULL, N'<input class="input normal" id="txtTitle" name="Title" ng-model="content.ContentValue.Title" type="text" />', 2, 1)
INSERT [dbo].[EF_MODEL_FIELD] ([MODEL_FIELD_ID], [NAME], [CODE], [CONTROL_TYPE], [DEFAULT_VALUE], [VALID_TIP_MSG], [VALID_PATTERN], [VALID_ERROR_MSG], [IS_SYSTEM_FIELD], [ITEM_OPTION], [HTML_TEMPLATE], [FIELD_TYPE], [STATUS]) VALUES (16, N'描述', N'Description', N'multi-text', NULL, NULL, NULL, NULL, NULL, NULL, N'<textarea class="input" cols="25" id="txtDescription" name="Description" rows="3">{{content.ContentValue.Description}}</textarea>', 3, 1)
INSERT [dbo].[EF_MODEL_FIELD] ([MODEL_FIELD_ID], [NAME], [CODE], [CONTROL_TYPE], [DEFAULT_VALUE], [VALID_TIP_MSG], [VALID_PATTERN], [VALID_ERROR_MSG], [IS_SYSTEM_FIELD], [ITEM_OPTION], [HTML_TEMPLATE], [FIELD_TYPE], [STATUS]) VALUES (17, N'图片', N'Picture', N'images', NULL, NULL, NULL, NULL, NULL, NULL, N'<input class="input normal upload-path" id="txtPicture" name="Picture" ng-model="content.ContentValue.Picture" type="text" /><div class="upload-box upload-img"></div>', 2, 1)
SET IDENTITY_INSERT [dbo].[EF_MODEL_FIELD] OFF
INSERT [dbo].[EF_MODEL_MODEL_FIELD] ([MODEL_ID], [MODEL_FIELD_ID]) VALUES (3, 15)
INSERT [dbo].[EF_MODEL_MODEL_FIELD] ([MODEL_ID], [MODEL_FIELD_ID]) VALUES (5, 15)
INSERT [dbo].[EF_MODEL_MODEL_FIELD] ([MODEL_ID], [MODEL_FIELD_ID]) VALUES (3, 16)
SET IDENTITY_INSERT [dbo].[EF_OPERATION] ON 

INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS], [CLASS], [ID], [ON_CLICK], [STYLE], [OPERATION_CATEGORY]) VALUES (1, N'新增', N'Add', 1, N'add', NULL, NULL, NULL, 0)
INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS], [CLASS], [ID], [ON_CLICK], [STYLE], [OPERATION_CATEGORY]) VALUES (2, N'全选', N'All', 1, N'all', NULL, N'checkAll(this);', NULL, 0)
INSERT [dbo].[EF_OPERATION] ([OPERATION_ID], [NAME], [CODE], [STATUS], [CLASS], [ID], [ON_CLICK], [STYLE], [OPERATION_CATEGORY]) VALUES (3, N'删除', N'Remove', 1, N'btn btn-default remove', NULL, NULL, N'color: #fff', 1)
SET IDENTITY_INSERT [dbo].[EF_OPERATION] OFF
INSERT [dbo].[EF_OPERATION_RESOURCE] ([RESOURCE_ID], [OPERATION_ID]) VALUES (4, 1)
INSERT [dbo].[EF_OPERATION_RESOURCE] ([RESOURCE_ID], [OPERATION_ID]) VALUES (5, 1)
INSERT [dbo].[EF_OPERATION_RESOURCE] ([RESOURCE_ID], [OPERATION_ID]) VALUES (7, 1)
SET IDENTITY_INSERT [dbo].[EF_RESOURCE] ON 

INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL], [CODE], [CONTROLLER_NAME]) VALUES (1, 0, N'控制面板', NULL, 0, 0, NULL, 2, 1, N'ControllerPanel', NULL)
INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL], [CODE], [CONTROLLER_NAME]) VALUES (2, 1, N'界面管理', NULL, 1, 0, NULL, 1, 1, N'UI', NULL)
INSERT [dbo].[EF_RESOURCE] ([RESOURCE_ID], [PARENT_ID], [RESOURCE_NAME], [RESOURCE_URL], [LAYER], [IS_LOCK], [RESOURCE_IMG], [SORT], [HAS_LEVEL], [CODE], [CONTROLLER_NAME]) VALUES (3, 1, N'系统用户', NULL, 1, 0, NULL, 2, 1, N'SystemUser', NULL)
SET IDENTITY_INSERT [dbo].[EF_RESOURCE] OFF
SET IDENTITY_INSERT [dbo].[EF_ROLE] ON 

INSERT [dbo].[EF_ROLE] ([ROLE_ID], [NAME], [CODE], [STATUS]) VALUES (1, N'超级管理员', N'Administrator', 1)
INSERT [dbo].[EF_ROLE] ([ROLE_ID], [NAME], [CODE], [STATUS]) VALUES (2, N'游客', N'Tourist', 1)
INSERT [dbo].[EF_ROLE] ([ROLE_ID], [NAME], [CODE], [STATUS]) VALUES (4, N'普通用户', N'AverageUser', 1)
SET IDENTITY_INSERT [dbo].[EF_ROLE] OFF
INSERT [dbo].[EF_ROLE_RESOURCE] ([ROLE_ID], [RESOURCE_ID]) VALUES (1, 1)
INSERT [dbo].[EF_ROLE_RESOURCE] ([ROLE_ID], [RESOURCE_ID]) VALUES (1, 2)
INSERT [dbo].[EF_ROLE_RESOURCE] ([ROLE_ID], [RESOURCE_ID]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[EF_USER] ON 

INSERT [dbo].[EF_USER] ([USER_ID], [LOGIN_NAME], [PASSWORD], [IS_LOCK], [NAME], [CELL_PHONE], [EMAIL], [ADDRESS], [Qq], [WEICHAT_NUMBER], [ADD_TIME], [SALT]) VALUES (4, N'wulaiwei', N'240CF80D43F71C0F4D374C8B099E7FE4', 0, N'吴来伟', N'13688005422', N'1434335439@qq.com', N'四川成都', NULL, N'wlwzyxxy', NULL, N'4J28P')
INSERT [dbo].[EF_USER] ([USER_ID], [LOGIN_NAME], [PASSWORD], [IS_LOCK], [NAME], [CELL_PHONE], [EMAIL], [ADDRESS], [Qq], [WEICHAT_NUMBER], [ADD_TIME], [SALT]) VALUES (5, N'luoqiuyang', N'240CF80D43F71C0F4D374C8B099E7FE4', 0, N'罗秋阳', NULL, NULL, NULL, NULL, NULL, NULL, N'4J28P')
INSERT [dbo].[EF_USER] ([USER_ID], [LOGIN_NAME], [PASSWORD], [IS_LOCK], [NAME], [CELL_PHONE], [EMAIL], [ADDRESS], [Qq], [WEICHAT_NUMBER], [ADD_TIME], [SALT]) VALUES (6, N'jiujiu', N'8D501B56BAE2AFC85A46A9D39200269E', 0, N'啾啾', NULL, NULL, NULL, NULL, NULL, NULL, N'RP0BB')
SET IDENTITY_INSERT [dbo].[EF_USER] OFF
INSERT [dbo].[EF_USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (4, 1)
INSERT [dbo].[EF_USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (6, 2)
INSERT [dbo].[EF_USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (5, 4)
/****** Object:  Index [IX_MODEL_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_MODEL_ID] ON [dbo].[EF_CATEGORY]
(
	[MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CATEGORY_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CATEGORY_ID] ON [dbo].[EF_CONTENT]
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MODEL_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_MODEL_ID] ON [dbo].[EF_CONTENT]
(
	[MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_DESCRIPTION_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_DOUBLE_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_INT_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_STRING_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_TEXT_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONTENT_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_CONTENT_ID] ON [dbo].[EF_CONTENT_TIME_FIELD]
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MODEL_FIELD_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_MODEL_FIELD_ID] ON [dbo].[EF_MODEL_MODEL_FIELD]
(
	[MODEL_FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MODEL_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_MODEL_ID] ON [dbo].[EF_MODEL_MODEL_FIELD]
(
	[MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OPERATION_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_OPERATION_ID] ON [dbo].[EF_OPERATION_RESOURCE]
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RESOURCE_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_RESOURCE_ID] ON [dbo].[EF_OPERATION_RESOURCE]
(
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RESOURCE_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_RESOURCE_ID] ON [dbo].[EF_ROLE_RESOURCE]
(
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ROLE_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_ROLE_ID] ON [dbo].[EF_ROLE_RESOURCE]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ROLE_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_ROLE_ID] ON [dbo].[EF_USER_ROLE]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ID]    Script Date: 2017/2/7 11:40:15 ******/
CREATE NONCLUSTERED INDEX [IX_USER_ID] ON [dbo].[EF_USER_ROLE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EF_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CATEGORY_dbo.EF_MODEL_MODEL_ID] FOREIGN KEY([MODEL_ID])
REFERENCES [dbo].[EF_MODEL] ([MODEL_ID])
GO
ALTER TABLE [dbo].[EF_CATEGORY] CHECK CONSTRAINT [FK_dbo.CATEGORY_dbo.EF_MODEL_MODEL_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_dbo.EF_CATEGORY_CATEGORY_ID] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[EF_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[EF_CONTENT] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_dbo.EF_CATEGORY_CATEGORY_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_dbo.EF_MODEL_MODEL_ID] FOREIGN KEY([MODEL_ID])
REFERENCES [dbo].[EF_MODEL] ([MODEL_ID])
GO
ALTER TABLE [dbo].[EF_CONTENT] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_dbo.EF_MODEL_MODEL_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_DESCRIPTION_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_DESCRIPTION_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_DESCRIPTION_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_DESCRIPTION_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_DOUBLE_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_DOUBLE_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_DOUBLE_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_DOUBLE_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_INT_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_INT_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_INT_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_INT_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_STRING_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_STRING_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_STRING_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_STRING_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_TEXT_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_TEXT_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_TEXT_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_TEXT_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_CONTENT_TIME_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_CONTENT_TIME_FIELD_dbo.EF_CONTENT_CONTENT_ID] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[EF_CONTENT] ([CONTENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_CONTENT_TIME_FIELD] CHECK CONSTRAINT [FK_dbo.EF_CONTENT_TIME_FIELD_dbo.EF_CONTENT_CONTENT_ID]
GO
ALTER TABLE [dbo].[EF_MODEL_MODEL_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_MODEL_MODEL_FIELD_dbo.EF_MODEL_FIELD_MODEL_FIELD_ID] FOREIGN KEY([MODEL_FIELD_ID])
REFERENCES [dbo].[EF_MODEL_FIELD] ([MODEL_FIELD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_MODEL_MODEL_FIELD] CHECK CONSTRAINT [FK_dbo.EF_MODEL_MODEL_FIELD_dbo.EF_MODEL_FIELD_MODEL_FIELD_ID]
GO
ALTER TABLE [dbo].[EF_MODEL_MODEL_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_MODEL_MODEL_FIELD_dbo.EF_MODEL_MODEL_ID] FOREIGN KEY([MODEL_ID])
REFERENCES [dbo].[EF_MODEL] ([MODEL_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_MODEL_MODEL_FIELD] CHECK CONSTRAINT [FK_dbo.EF_MODEL_MODEL_FIELD_dbo.EF_MODEL_MODEL_ID]
GO
ALTER TABLE [dbo].[EF_OPERATION_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_OPERATION_RESOURCE_dbo.EF_OPERATION_OPERATION_ID] FOREIGN KEY([OPERATION_ID])
REFERENCES [dbo].[EF_OPERATION] ([OPERATION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_OPERATION_RESOURCE] CHECK CONSTRAINT [FK_dbo.EF_OPERATION_RESOURCE_dbo.EF_OPERATION_OPERATION_ID]
GO
ALTER TABLE [dbo].[EF_OPERATION_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_OPERATION_RESOURCE_dbo.EF_RESOURCE_RESOURCE_ID] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[EF_RESOURCE] ([RESOURCE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_OPERATION_RESOURCE] CHECK CONSTRAINT [FK_dbo.EF_OPERATION_RESOURCE_dbo.EF_RESOURCE_RESOURCE_ID]
GO
ALTER TABLE [dbo].[EF_ROLE_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_ROLE_RESOURCE_dbo.EF_RESOURCE_RESOURCE_ID] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[EF_RESOURCE] ([RESOURCE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_ROLE_RESOURCE] CHECK CONSTRAINT [FK_dbo.EF_ROLE_RESOURCE_dbo.EF_RESOURCE_RESOURCE_ID]
GO
ALTER TABLE [dbo].[EF_ROLE_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_ROLE_RESOURCE_dbo.EF_ROLE_ROLE_ID] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[EF_ROLE] ([ROLE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_ROLE_RESOURCE] CHECK CONSTRAINT [FK_dbo.EF_ROLE_RESOURCE_dbo.EF_ROLE_ROLE_ID]
GO
ALTER TABLE [dbo].[EF_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_ROLE_ROLE_ID] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[EF_ROLE] ([ROLE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_USER_ROLE] CHECK CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_ROLE_ROLE_ID]
GO
ALTER TABLE [dbo].[EF_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_USER_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[EF_USER] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EF_USER_ROLE] CHECK CONSTRAINT [FK_dbo.EF_USER_ROLE_dbo.EF_USER_USER_ID]
GO
USE [master]
GO
